---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: US-ASCII
      string: client_id=app.apps.googleusercontent.com&client_secret=secret&grant_type=authorization_code&code=access_code&redirect_uri=http%3A%2F%2Flocalhost%3A4200
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access_token",
          "expires_in": 3528,
          "scope": "scope",
          "token_type": "Bearer",
          "id_token": "id_token"
        }
  recorded_at: Sat, 17 Nov 2018 11:12:24 GMT
