---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/plus/v1/people/me?access_token=access_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "domain",
            "reason": "reason",
            "message": "message",
            "extendedHelp": "https://code.google.com/apis/console"
           }
          ],
          "code": 403,
          "message": "Error message"
         }
        }
  recorded_at: Sat, 17 Nov 2018 11:42:24 GMT
recorded_with: VCR 4.0.0
