---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/plus/v1/people/me?access_token=access_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"jb1Xzanox6i8Zyse4DcYD8sZqy0/7NknsQcp2oWiaXHW_4ewCV_UYrc"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "plus#person",
         "etag": "etag",
         "gender": "male",
         "emails": [
          {
           "value": "user@example.com",
           "type": "account"
          }
         ],
         "objectType": "person",
         "id": "1",
         "displayName": "John Doe",
         "name": {
          "familyName": "Doe",
          "givenName": "John"
         },
         "url": "https://plus.google.com/1",
         "image": {
          "url": "https://lh5.googleusercontent.com/url/photo.jpg?sz=50",
          "isDefault": false
         },
         "isPlusUser": true,
         "language": "pl",
         "circledByCount": 1,
         "verified": false
        }
  recorded_at: Sat, 17 Nov 2018 11:12:24 GMT
recorded_with: VCR 4.0.0
